

.user-dashboard {
  display: fixed;
  flex-direction: row; 
  min-height: 100vh;
  background-color: transparent; 
  color: rgb(250, 247, 247);
}
.sidebar {
  width: 250px;
  background-color: #2c3e50;
  color: rgb(255, 251, 251);
  padding: 20px;
  border-left: 3px solid #1abc9c; /* Right-side highlight */
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.sidebar ul li a:hover {
  color: #1abc9c;
}


.search-container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  flex: 1;
}
.content {
  flex: 1;
  padding: 20px;
}

.search-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.search-container button {
  padding: 10px 15px;
  cursor: pointer;
}

.result {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ddd;
}
.error {
  color: red;
}
